[Unit]
Description=Argon One fan adjustment

[Service]
WorkingDirectory=/opt/argononefan
ExecStart=/opt/argononefan/adjustfan
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
